* {
	-webkit-tap-highlight-color: transparent;
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: sans-serif;
	width: 100%;
	height: 100vh;
	background-color: #27273c;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
	overflow-x: hidden;
}

header, footer {
	background-repeat: no-repeat;
}

header {
	background-image: linear-gradient(to top, purple 20%, #27273c 80%);
}

footer {
	background-image: linear-gradient(to top, #27273c 20%, purple 80%);
}

header {
	height: 500px;
}

.stroke-rounded {
	stroke-linecap: round;
}

.w-logo {
	min-width: 75px;
	width: 75px;
	max-width: 75px;
}

.h-logo {
	min-height: 75px;
	height: 75px;
	max-height: 75px;
}

.h-filter {
	height: 650px;
}

.bg-dark {
	background-color: #27273c;
}

.bg-darker {
	background-color: #14141f;
}

/* width */

*::-webkit-scrollbar {
	width: 0.2em;
}

/* Track */

*::-webkit-scrollbar-track {
	background-image: linear-gradient(to top, purple 20%, #27273c 80%);
}

/* Handle */

*::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */

*::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.frosted-glass {
	background-color: rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(10px);
}

.bookmark {
	width: 37px;
	height: 36px;
}

.bookmark button {
	z-index: 2;
}

.bookmark:hover .ribbon.up>.content, .bookmark:focus .ribbon.up>.content {
	height: 70px;
}

.bookmark:hover .ribbon.up, .bookmark:focus .ribbon.up {
	top: -20px;
}

/* https://codepen.io/JavaScriptJunkie/pen/pPRooV */

.buttons {
	text-align: center;
}

.btn-hover {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	pointer-events: all;
	height: 40px;
	width: auto;
	padding: 0 20px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn-hover:hover {
	background-position: 100% 0;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn-hover:focus {
	outline: none;
}

.btn-hover.color-3 {
	background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
	box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/* https://codepen.io/JavaScriptJunkie/pen/pPRooV */

/* https://codepen.io/alphardex/pen/MWWEmLK */

a {
	position: relative;
	display: block;
	padding: 4px 0;
	font-family: Lato, sans-serif;
	color: #ecf0f1;
	text-decoration: none;
}

a::after {
	transition: 0.5s;
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #3498db;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
}

a:hover::after, a:focus::after {
	color: white;
	transform: scaleX(1);
	transform-origin: left;
}

/* https://codepen.io/alphardex/pen/MWWEmLK */

/* https://codepen.io/kathykato/pen/rZRaNe */

*::before, *::after {
	box-sizing: border-box;
}

.load-more {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	border-radius: 50px;
}

button.load-more {
	width: 12rem;
	height: auto;
}

button.load-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	border-radius: 1.625rem;
}

button.load-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

button.load-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}

button.load-more .circle .icon.arrow::before {
	position: absolute;
	content: '';
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}

button.load-more .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}

button.load-more:hover .circle, button.load-more:focus .circle {
	width: 100%;
}

button.load-more:hover .circle .icon.arrow, button.load-more:focus .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

button.load-more:hover .button-text, button.load-more:focus .button-text {
	color: #fff;
}

@supports (display: grid) {
	#load-more-container {
		grid-area: main;
		align-self: center;
		justify-self: center;
	}
}

/* https://codepen.io/kathykato/pen/rZRaNe */

/* https://codepen.io/crayon-code/pen/vYXpmPB */

.ribbon.up {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 5px;
	filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
}

.ribbon>.content {
	color: white;
	font-size: 1.25rem;
	text-align: center;
	font-weight: 400;
	background: var(--color, #2ca7d8) linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
	padding: 25px 2px 4px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
	width: 28px;
	transition: clip-path 1s, padding 1s, background 1s;
}

.ribbon.up>.content {
	height: 35px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
}

.ribbon.up, .ribbon.up>.content {
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

/* https://codepen.io/crayon-code/pen/vYXpmPB */

/* https://www.cssportal.com/css-ribbon-generator/ */

.ribbon.top-left {
	position: absolute;
	left: -5px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 75px;
	height: 75px;
	text-align: right;
}

.ribbon.top-left span {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	width: 100px;
	display: block;
	background: #79A70A;
	background: linear-gradient(#9BC90D 0%, #79A70A 100%);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 19px;
	left: -21px;
}

.ribbon.top-left span::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid #79A70A;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #79A70A;
}

.ribbon.top-left span::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid #79A70A;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #79A70A;
}

/* https://www.cssportal.com/css-ribbon-generator/ */

/* https://codepen.io/simoncoudeville/pen/LyCda */

.ribbon.left {
	position: absolute;
	top: -5px;
	left: -5px;
	display: inline-block;
	padding: 0 0.75em;
	border-radius: 5px 2px 2px 0;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 2.35em;
	font-weight: bold;
	color: #6b4e00;
	background-color: #ffc938;
	z-index: 1;
	-moz-border-radius: 5px 2px 2px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px 2px 2px 0;
	-moz-box-shadow: 0px 2px 0 rgba(31, 41, 51, 0.1);
	-webkit-box-shadow: 0px 2px 0 rgb(31 41 51 / 10%);
	box-shadow: 0px 2px 0 rgb(31 41 51 / 10%);
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

.ribbon.left::before {
	content: " ";
	display: block;
	position: absolute;
	width: 5px;
	height: 4px;
	left: 0;
	bottom: -4px;
	background-color: #ffc938;
}

.ribbon.left::after {
	content: " ";
	display: block;
	position: absolute;
	width: 5px;
	height: 6px;
	bottom: -6px;
	left: 0;
	background-color: #9e7300;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 0 0 5px;
}

.ribbon-container:hover .ribbon.left {
	padding-left: 1em;
}

/* https://codepen.io/simoncoudeville/pen/LyCda */