@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html {
    scroll-behavior: smooth;
}

.mdv, .mdv h1, .mdv h2, .mdv h3, .mdv h4, .mdv h5, .mdv h6, .mdv strong, .mdv blockquote, .mdv>ol>li::before, .mdv thead {
    @apply text-gray-200;
}

.mdv>ul>li::before {
    @apply bg-gray-200;
}

.mdv a, .mdv code {
    @apply inline text-[#f7485f] no-underline;
}

.mdv blockquote, .mdv thead, .mdv tbody tr {
    @apply border-white border-opacity-25;
}

.mdv thead {
    @apply border-b-2;
}

.mdv img {
    max-width: 35%;
    display: inline-block;
}

.mdv input {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mdv li[data-children-count] {
    @apply pl-0;
}

.mdv li[data-children-count]::before {
    @apply hidden;
}

.mdv hr {
    @apply my-3 opacity-20;
}

.mdv pre {
    @apply border border-white border-opacity-25;
}